.main-confirmation {
    display: flex;
    flex-direction: column;
    margin-top: 61px;
}

.success-title {
    padding: 25px 0;
    font-size: 24px;
    width: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #247A6B;
    font-weight: bold;
    align-self: center;
}

.reservation-info {
    padding: 0 29px;
}

.reservation-info-item {
    padding-bottom: 40px;
}

.reservation-info-item h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.reservation-info-item p {
    font-size: 22px;
    padding: 4px;
}

.reservation-info-button-item{
    align-self: center;
}

.reservation-info-button {
    width: 225px;
    height: 42px;
    color: #FFF;
    background: #E8833A;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}