*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

.page-description{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 60px;
    font-size: 24px;
    background-color: #FFF;
    z-index:1;
}