*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

.page-description{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 60px;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    z-index:1;
}